$PopupNav-link-size-from: 28px;
$PopupNav-link-size-to: 40px;

.PopupNav {
  @extend %list-unstyled;

  display:         flex;
  align-items:     center;
  justify-content: center;
  padding:         ($Popup-icon-size / 3) 0;
}

.PopupNav-link {
  @include link-colors(#fff, $color-brand-blue, #fff, #fff, #fff);

  padding: 1em;

  > svg {
    @include fluid-size(height, 320px, $PopupNav-link-size-from, 760px, $PopupNav-link-size-to);
    @include fluid-size(width, 320px, $PopupNav-link-size-from, 760px, $PopupNav-link-size-to);
    fill: currentColor;
  }
}