$Popup-icon-size: 128px;
$Popup-gutter: 40px;

.Popup {
  @include fluid-size(padding-left, 320px, 8px, 680px, 40px);
  @include fluid-size(padding-right, 320px, 8px, 680px, 40px);

  padding-bottom: 20vw;

  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.Popup-footer {
  margin-top:       3em;
  padding:          2em 0;
  background-color: $color-gray-lighter;
  border-radius:    8px;
}

.Popup-register {
  @include link-colors-all($anchor-color);
  display:         flex;
  align-items:     center;
  max-width:       300px;
  margin:          0 auto;
  padding:         1em;
  border-radius:   4px;
  font-size:       calc-em(24px);
  text-align:      center;
  text-transform:  uppercase;
  //background-color: $anchor-color;

  text-decoration: none !important;

  &:hover {
    > span {
      text-decoration: underline;
    }
  }

  > svg {
    height:      1em;
    width:       1em;
    margin-left: 1em;
  }
}

.Popup-content {
  position:         relative;
  max-width:        680px;
  margin:           $Popup-gutter auto 0;
  padding-top:      3em;
  border-radius:    8px;
  background-color: #fff;
}

.Popup-close {
  position: absolute;
  top:      .5em;
  right:    .5em;
  padding:  .5em;
  cursor:   pointer;

  &:hover > svg {
    fill: $color-gray-dark;
  }

  > svg {
    height: 22px;
    width:  22px;
    fill:   $color-gray;
  }
}

.Popup-icon,
.Popup-iconImg {
  height:           $Popup-icon-size;
  width:            $Popup-icon-size;
  margin:           -($Popup-icon-size / 2) auto 0;
  padding:          $Popup-icon-size * .1 0;
  text-align:       center;
  border:           8px solid #fff;
  border-radius:    $Popup-icon-size;
  background-color: $color-brand-blue-dark;
  overflow:         hidden;

  > svg {
    height: $Popup-icon-size / 1.5;
    width:  $Popup-icon-size / 1.5;
    fill:   $color-brand-blue;
  }

}

.Popup-iconImg {
  background-color:    $color-gray-darkest;
  background-position: center;
  background-size:     cover;
}

.Popup-h2 {
  @include fluid-size(padding-left, 320px, 16px, 680px, 48px);
  @include fluid-size(padding-right, 320px, 16px, 680px, 48px);

  margin:           2em 0;
  padding-top:      .5em;
  padding-bottom:   .5em;
  text-transform:   uppercase;
  text-align:       center;
  font-weight:      300;
  background-color: $color-gray-lighter;
  color:            darken($color-brand-blue, 50%);
}

.Popup-text {

  h1, h3, p, ul, table, form {

    @include fluid-size(margin-left, 320px, 16px, 680px, 48px);
    @include fluid-size(margin-right, 320px, 16px, 680px, 48px);
  }

  h1 {
    line-height:    1.2;
    text-transform: uppercase;
    text-align:     center;
    font-weight:    300;
  }

  h2 {
    @extend .Popup-h2;
  }

  h3 {
    margin-top:    2em;
    margin-bottom: .5em;
    font-weight:   500;
  }

  p {
    margin-top: .5em;
  }

  form {
    max-width:  480px;
    margin-top:    2em;
    margin-bottom: 2em;

    @media (min-width: calc-em(670px)) {
      margin-left:  auto;
      margin-right: auto;
    }
  }

}

.Popup-social {
  font-size:  calc-em(32px);
  text-align: center;
}