.SpeakersSection {
  @extend .Section;

  position:       relative;
  overflow:       hidden;

  padding-bottom: 0;
  padding-top:    180px;
  margin-top:     -120px;

  &:before {
    content:          '';
    position:         absolute;
    display:          block;
    background-color: $color-brand-yellow;
    height:           400px;
    width:            200%;
    top:              60px;
    left:             -50%;
    transform:        rotate(3deg);
  }

  &:after {
    content:          '';
    position:         absolute;
    display:          block;
    background-color: #fff;
    height:           350px;
    width:            200%;
    top:              360px;
    left:             -50%;
    transform:        rotate(-3deg);
  }

}

.SpeakersSection-container {
  @extend .Section-container;
  position: relative;
  z-index:  1;
}

.SpeakersSection-title {
  @extend .Section-title;

  color:       #8b712d;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
}