.SpeakerList {
  @extend %list-unstyled;
  display:         flex;
  flex-wrap:       wrap;
  justify-content: center;
}

.SpeakerList-item {
  max-width:     calc-em(560px);
  margin-bottom: 3em;
}

@media (min-width: calc-em(780px)) {

  .SpeakerList {
    margin-left: -1.25em;
  }

  .SpeakerList-item {
    padding-left: 1.25em;
    width:        50%;
  }

}