@import "../../../node_modules/normalize.css/normalize";
@import "variables/variables";
@import "mixins/mixins";
@import "functions/functions";
@import "utilities/utilities";
@import "base/base";
@import "components/components";

html.has-popup {
  min-height:      100vh;
  background:      $color-gray-darkest url('https://faithpromise.imgix.net/movement/popup-bg.jpg') no-repeat fixed 50% 0;
  background-size: cover;

  > body {
    background-color: transparent;
  }
}

.pt-0 {
  padding-top: 0;
}