@import "../../../node_modules/normalize.css/normalize";
@import "variables/variables";
@import "mixins/mixins";
@import "functions/functions";
@import "utilities/utilities";
@import "base/base";
@import "components/components";

html.has-popup {
  min-height:      100vh;
  background:      $color-gray-darkest url('https://faithpromise.imgix.net/movement/popup-bg.jpg') no-repeat fixed 50% 0;
  background-size: cover;

  > body {
    background-color: transparent;
  }
}

.pt-0 {
  padding-top: 0;
}

// http://embedresponsively.com
.embed-container {
  position:       relative;
  padding-bottom: 56.25%;
  height:         0;
  overflow:       hidden;
  max-width:      100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top:      0;
  left:     0;
  width:    100%;
  height:   100%;
}

// Tables
.Table {
  border-collapse: collapse;
  font-size: 13px;
  border: 1px solid #CCC;
  font-family: Arial, Helvetica, sans-serif;
}
.Table td {
  padding: 4px;
  margin: 3px;
  border: 1px solid #CCC;
}